#cookie-notification
{
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 1;
  padding: 10px 35px 10px 10px;
  background: rgba(255,255,255,1);
  z-index: 200;
}
#cookie-notification-close
{
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -12px;
}
#cookie-notification-close:hover
{
  opacity: 0.7;
}

/* Improved flexboxgrid */

.layout-col {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.layout-row {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.layout-align-stretch {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  align-content: stretch;
}

.layout-align-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
}

.layout-align-center-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.layout-align-end {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.hide:not(.show):not(.show-xs):not(.show-gt-xs):not(.show-sm):not(.show-gt-sm):not(.show-md):not(.show-gt-md) {
  display: none;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

.row {
  box-sizing: border-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex: 0 1 auto;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex {
  flex: 1;
}

.row.reverse {
  -ms-flex-direction: row-reverse;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}

.col.reverse {
  -ms-flex-direction: column-reverse;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  flex-direction: column-reverse;
}

.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  box-sizing: border-box;
  -ms-flex: 0 0 auto;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.col {
  -webkit-flex: 1; /* Safari 6.1+ */
  -ms-flex: 1; /* IE 10 */
  flex: 1;
  max-width: 100%;
}

.col-1 {
  -ms-flex-preferred-size: 8.333%;
  flex-basis: 8.333%;
  max-width: 8.333%;
}

.col-2 {
  -ms-flex-preferred-size: 16.667%;
  flex-basis: 16.667%;
  max-width: 16.667%;
}

.col-3 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex-preferred-size: 33.333%;
  flex-basis: 33.333%;
  max-width: 33.333%;
}

.col-5 {
  -ms-flex-preferred-size: 41.667%;
  flex-basis: 41.667%;
  max-width: 41.667%;
}

.col-6 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex-preferred-size: 58.333%;
  flex-basis: 58.333%;
  max-width: 58.333%;
}

.col-8 {
  -ms-flex-preferred-size: 66.667%;
  flex-basis: 66.667%;
  max-width: 66.667%;
}

.col-9 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%;
}

.col-10 {
  -ms-flex-preferred-size: 83.333%;
  flex-basis: 83.333%;
  max-width: 83.333%;
}

.col-11 {
  -ms-flex-preferred-size: 91.667%;
  flex-basis: 91.667%;
  max-width: 91.667%;
}

.col-12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%;
}

.col-offset-1 {
  margin-left: 8.333%;
}

.col-offset-2 {
  margin-left: 16.667%;
}

.col-offset-3 {
  margin-left: 25%;
}

.col-offset-4 {
  margin-left: 33.333%;
}

.col-offset-5 {
  margin-left: 41.667%;
}

.col-offset-6 {
  margin-left: 50%;
}

.col-offset-7 {
  margin-left: 58.333%;
}

.col-offset-8 {
  margin-left: 66.667%;
}

.col-offset-9 {
  margin-left: 75%;
}

.col-offset-10 {
  margin-left: 83.333%;
}

.col-offset-11 {
  margin-left: 91.667%;
}

.start {
  -ms-flex-pack: start;
  -webkit-box-pack: start;
  justify-content: flex-start;
  text-align: start;
}

.center {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
}

.end {
  -ms-flex-pack: end;
  -webkit-box-pack: end;
  justify-content: flex-end;
  text-align: end;
}

.top {
  -ms-flex-align: start;
  -webkit-box-align: start;
  align-items: flex-start;
}

.middle {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
}

.bottom {
  -ms-flex-align: end;
  -webkit-box-align: end;
  align-items: flex-end;
}

.around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.between {
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.first {
  -ms-flex-order: -1;
  -webkit-box-ordinal-group: 0;
  order: -1;
}

.last {
  -ms-flex-order: 1;
  -webkit-box-ordinal-group: 2;
  order: 1;
}

@media only screen and (max-width: 48em) {
  .col-xs,
  .col-xs-1,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-xs {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-xs-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }

  .col-xs-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }

  .col-xs-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-xs-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }

  .col-xs-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }

  .col-xs-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-xs-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }

  .col-xs-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }

  .col-xs-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-xs-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }

  .col-xs-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }

  .col-xs-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-xs-offset-1 {
    margin-left: 8.333%;
  }

  .col-xs-offset-2 {
    margin-left: 16.667%;
  }

  .col-xs-offset-3 {
    margin-left: 25%;
  }

  .col-xs-offset-4 {
    margin-left: 33.333%;
  }

  .col-xs-offset-5 {
    margin-left: 41.667%;
  }

  .col-xs-offset-6 {
    margin-left: 50%;
  }

  .col-xs-offset-7 {
    margin-left: 58.333%;
  }

  .col-xs-offset-8 {
    margin-left: 66.667%;
  }

  .col-xs-offset-9 {
    margin-left: 75%;
  }

  .col-xs-offset-10 {
    margin-left: 83.333%;
  }

  .col-xs-offset-11 {
    margin-left: 91.667%;
  }

  .start-xs {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-xs {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-xs {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-xs {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
  }

  .middle-xs {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }

  .bottom-xs {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
  }

  .around-xs {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-xs {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }

  .first-xs {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
  }

  .last-xs {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
  }

  .hide:not(.show-xs),
  .hide-xs:not(.show):not(.show-xs) {
    display: none;
  }

  .flex-xs {
    flex: 1;
  }
}

@media only screen and (min-width: 48em) {
  .col-gt-xs,
  .col-gt-xs-1,
  .col-gt-xs-2,
  .col-gt-xs-3,
  .col-gt-xs-4,
  .col-gt-xs-5,
  .col-gt-xs-6,
  .col-gt-xs-7,
  .col-gt-xs-8,
  .col-gt-xs-9,
  .col-gt-xs-10,
  .col-gt-xs-11,
  .col-gt-xs-12 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-gt-xs {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-gt-xs-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }

  .col-gt-xs-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }

  .col-gt-xs-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-gt-xs-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }

  .col-gt-xs-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }

  .col-gt-xs-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-gt-xs-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }

  .col-gt-xs-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }

  .col-gt-xs-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-gt-xs-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }

  .col-gt-xs-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }

  .col-gt-xs-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-gt-xs-offset-1 {
    margin-left: 8.333%;
  }

  .col-gt-xs-offset-2 {
    margin-left: 16.667%;
  }

  .col-gt-xs-offset-3 {
    margin-left: 25%;
  }

  .col-gt-xs-offset-4 {
    margin-left: 33.333%;
  }

  .col-gt-xs-offset-5 {
    margin-left: 41.667%;
  }

  .col-gt-xs-offset-6 {
    margin-left: 50%;
  }

  .col-gt-xs-offset-7 {
    margin-left: 58.333%;
  }

  .col-gt-xs-offset-8 {
    margin-left: 66.667%;
  }

  .col-gt-xs-offset-9 {
    margin-left: 75%;
  }

  .col-gt-xs-offset-10 {
    margin-left: 83.333%;
  }

  .col-gt-xs-offset-11 {
    margin-left: 91.667%;
  }

  .start-gt-xs {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-gt-xs {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-gt-xs {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-gt-xs {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
  }

  .middle-gt-xs {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }

  .bottom-gt-xs {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
  }

  .around-gt-xs {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-gt-xs {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }

  .first-gt-xs {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
  }

  .last-gt-xs {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
  }

  .hide:not(.show-gt-xs):not(.show-sm):not(.show-gt-sm):not(.show-md):not(.show-gt-md),
  .hide-gt-xs:not(.show):not(.show-gt-xs) {
    display: none;
  }

  .flex-gt-xs {
    flex: 1;
  }
}

@media only screen and (min-width: 48em) and (max-width: 62em) {
  .container {
    width: 46rem;
  }

  .col-sm,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-sm {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-sm-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }

  .col-sm-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }

  .col-sm-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-sm-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }

  .col-sm-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }

  .col-sm-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-sm-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }

  .col-sm-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }

  .col-sm-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-sm-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }

  .col-sm-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }

  .col-sm-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-sm-offset-1 {
    margin-left: 8.333%;
  }

  .col-sm-offset-2 {
    margin-left: 16.667%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-4 {
    margin-left: 33.333%;
  }

  .col-sm-offset-5 {
    margin-left: 41.667%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-7 {
    margin-left: 58.333%;
  }

  .col-sm-offset-8 {
    margin-left: 66.667%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-10 {
    margin-left: 83.333%;
  }

  .col-sm-offset-11 {
    margin-left: 91.667%;
  }

  .start-sm {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-sm {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-sm {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-sm {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
  }

  .middle-sm {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }

  .bottom-sm {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
  }

  .around-sm {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-sm {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }

  .first-sm {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
  }

  .last-sm {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
  }

  .hide:not(.show-sm),
  .hide-sm:not(.show):not(.show-sm) {
    display: none;
  }

  .flex-sm {
    flex: 1;
  }
}

@media only screen and (min-width: 62em) {
  .container {
    width: 46rem;
  }

  .col-gt-sm,
  .col-gt-sm-1,
  .col-gt-sm-2,
  .col-gt-sm-3,
  .col-gt-sm-4,
  .col-gt-sm-5,
  .col-gt-sm-6,
  .col-gt-sm-7,
  .col-gt-sm-8,
  .col-gt-sm-9,
  .col-gt-sm-10,
  .col-gt-sm-11,
  .col-gt-sm-12 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-gt-sm {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-gt-sm-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }

  .col-gt-sm-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }

  .col-gt-sm-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-gt-sm-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }

  .col-gt-sm-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }

  .col-gt-sm-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-gt-sm-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }

  .col-gt-sm-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }

  .col-gt-sm-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-gt-sm-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }

  .col-gt-sm-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }

  .col-gt-sm-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-gt-sm-offset-1 {
    margin-left: 8.333%;
  }

  .col-gt-sm-offset-2 {
    margin-left: 16.667%;
  }

  .col-gt-sm-offset-3 {
    margin-left: 25%;
  }

  .col-gt-sm-offset-4 {
    margin-left: 33.333%;
  }

  .col-gt-sm-offset-5 {
    margin-left: 41.667%;
  }

  .col-gt-sm-offset-6 {
    margin-left: 50%;
  }

  .col-gt-sm-offset-7 {
    margin-left: 58.333%;
  }

  .col-gt-sm-offset-8 {
    margin-left: 66.667%;
  }

  .col-gt-sm-offset-9 {
    margin-left: 75%;
  }

  .col-gt-sm-offset-10 {
    margin-left: 83.333%;
  }

  .col-gt-sm-offset-11 {
    margin-left: 91.667%;
  }

  .start-gt-sm {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-gt-sm {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-gt-sm {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-gt-sm {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
  }

  .middle-gt-sm {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }

  .bottom-gt-sm {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
  }

  .around-gt-sm {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-gt-sm {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }

  .first-gt-sm {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
  }

  .last-gt-sm {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
  }

  .hide:not(.show-gt-xs):not(.show-gt-sm):not(.show-gt-md),
  .hide-gt-sm:not(.show):not(.show-gt-sm) {
    display: none;
  }

  .flex-gt-sm {
    flex: 1;
  }
}

@media only screen and (min-width: 62em) and (max-width: 75em) {
  .container {
    width: 61rem;
  }

  .col-md,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-md {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-md-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }

  .col-md-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }

  .col-md-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-md-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }

  .col-md-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }

  .col-md-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-md-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }

  .col-md-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }

  .col-md-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-md-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }

  .col-md-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }

  .col-md-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-md-offset-1 {
    margin-left: 8.333%;
  }

  .col-md-offset-2 {
    margin-left: 16.667%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-4 {
    margin-left: 33.333%;
  }

  .col-md-offset-5 {
    margin-left: 41.667%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-7 {
    margin-left: 58.333%;
  }

  .col-md-offset-8 {
    margin-left: 66.667%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-10 {
    margin-left: 83.333%;
  }

  .col-md-offset-11 {
    margin-left: 91.667%;
  }

  .start-md {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-md {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-md {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-md {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
  }

  .middle-md {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }

  .bottom-md {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
  }

  .around-md {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-md {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }

  .first-md {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
  }

  .last-md {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
  }

  .hide:not(.show-gt-xs):not(.show-gt-sm):not(.show-md),
  .hide-md:not(.show):not(.show-md) {
    display: none;
  }

  .flex-md {
    flex: 1;
  }
}

@media only screen and (min-width: 75em) {
  .container {
    width: 61rem;
  }

  .col-gt-md,
  .col-gt-md-1,
  .col-gt-md-2,
  .col-gt-md-3,
  .col-gt-md-4,
  .col-gt-md-5,
  .col-gt-md-6,
  .col-gt-md-7,
  .col-gt-md-8,
  .col-gt-md-9,
  .col-gt-md-10,
  .col-gt-md-11,
  .col-gt-md-12 {
    box-sizing: border-box;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .col-gt-md {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%;
  }

  .col-gt-md-1 {
    -ms-flex-preferred-size: 8.333%;
    flex-basis: 8.333%;
    max-width: 8.333%;
  }

  .col-gt-md-2 {
    -ms-flex-preferred-size: 16.667%;
    flex-basis: 16.667%;
    max-width: 16.667%;
  }

  .col-gt-md-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }

  .col-gt-md-4 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%;
    max-width: 33.333%;
  }

  .col-gt-md-5 {
    -ms-flex-preferred-size: 41.667%;
    flex-basis: 41.667%;
    max-width: 41.667%;
  }

  .col-gt-md-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }

  .col-gt-md-7 {
    -ms-flex-preferred-size: 58.333%;
    flex-basis: 58.333%;
    max-width: 58.333%;
  }

  .col-gt-md-8 {
    -ms-flex-preferred-size: 66.667%;
    flex-basis: 66.667%;
    max-width: 66.667%;
  }

  .col-gt-md-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }

  .col-gt-md-10 {
    -ms-flex-preferred-size: 83.333%;
    flex-basis: 83.333%;
    max-width: 83.333%;
  }

  .col-gt-md-11 {
    -ms-flex-preferred-size: 91.667%;
    flex-basis: 91.667%;
    max-width: 91.667%;
  }

  .col-gt-md-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }

  .col-gt-md-offset-1 {
    margin-left: 8.333%;
  }

  .col-gt-md-offset-2 {
    margin-left: 16.667%;
  }

  .col-gt-md-offset-3 {
    margin-left: 25%;
  }

  .col-gt-md-offset-4 {
    margin-left: 33.333%;
  }

  .col-gt-md-offset-5 {
    margin-left: 41.667%;
  }

  .col-gt-md-offset-6 {
    margin-left: 50%;
  }

  .col-gt-md-offset-7 {
    margin-left: 58.333%;
  }

  .col-gt-md-offset-8 {
    margin-left: 66.667%;
  }

  .col-gt-md-offset-9 {
    margin-left: 75%;
  }

  .col-gt-md-offset-10 {
    margin-left: 83.333%;
  }

  .col-gt-md-offset-11 {
    margin-left: 91.667%;
  }

  .start-gt-md {
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }

  .center-gt-md {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }

  .end-gt-md {
    -ms-flex-pack: end;
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }

  .top-gt-md {
    -ms-flex-align: start;
    -webkit-box-align: start;
    align-items: flex-start;
  }

  .middle-gt-md {
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
  }

  .bottom-gt-md {
    -ms-flex-align: end;
    -webkit-box-align: end;
    align-items: flex-end;
  }

  .around-gt-md {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .between-gt-md {
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }

  .first-gt-md {
    -ms-flex-order: -1;
    -webkit-box-ordinal-group: 0;
    order: -1;
  }

  .last-gt-md {
    -ms-flex-order: 1;
    -webkit-box-ordinal-group: 2;
    order: 1;
  }

  .hide:not(.show-gt-xs):not(.show-gt-sm):not(.show-gt-md),
  .hide-gt-md:not(.show):not(.show-gt-md) {
    display: none;
  }

  .flex-gt-md {
    flex: 1;
  }
}

.p-0 {
  padding: 0em;
}

.pl-0 {
  padding-left: 0em;
}

.pr-0 {
  padding-right: 0em;
}

.pt-0 {
  padding-top: 0em;
}

.pb-0 {
  padding-bottom: 0em;
}

.px-0 {
  padding-left: 0em;
  padding-right: 0em;
}

.py-0 {
  padding-top: 0em;
  padding-bottom: 0em;
}

.p-1 {
  padding: 0.5em;
}

.pl-1 {
  padding-left: 0.5em;
}

.pr-1 {
  padding-right: 0.5em;
}

.pt-1 {
  padding-top: 0.5em;
}

.pb-1 {
  padding-bottom: 0.5em;
}

.px-1 {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.py-1 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.p-2 {
  padding: 1em;
}

.pl-2 {
  padding-left: 1em;
}

.pr-2 {
  padding-right: 1em;
}

.pt-2 {
  padding-top: 1em;
}

.pb-2 {
  padding-bottom: 1em;
}

.px-2 {
  padding-left: 1em;
  padding-right: 1em;
}

.py-2 {
  padding-top: 1em;
  padding-bottom: 1em;
}

.p-3 {
  padding: 1.5em;
}

.pl-3 {
  padding-left: 1.5em;
}

.pr-3 {
  padding-right: 1.5em;
}

.pt-3 {
  padding-top: 1.5em;
}

.pb-3 {
  padding-bottom: 1.5em;
}

.px-3 {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.py-3 {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.p-4 {
  padding: 2em;
}

.pl-4 {
  padding-left: 2em;
}

.pr-4 {
  padding-right: 2em;
}

.pt-4 {
  padding-top: 2em;
}

.pb-4 {
  padding-bottom: 2em;
}

.px-4 {
  padding-left: 2em;
  padding-right: 2em;
}

.py-4 {
  padding-top: 2em;
  padding-bottom: 2em;
}

.p-5 {
  padding: 2.5em;
}

.pl-5 {
  padding-left: 2.5em;
}

.pr-5 {
  padding-right: 2.5em;
}

.pt-5 {
  padding-top: 2.5em;
}

.pb-5 {
  padding-bottom: 2.5em;
}

.px-5 {
  padding-left: 2.5em;
  padding-right: 2.5em;
}

.py-5 {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

.m-0 {
  margin: 0em;
}

.ml-0 {
  margin-left: 0em;
}

.mr-0 {
  margin-right: 0em;
}

.mt-0 {
  margin-top: 0em;
}

.mb-0 {
  margin-bottom: 0em;
}

.mx-0 {
  margin-left: 0em;
  margin-right: 0em;
}

.my-0 {
  margin-top: 0em;
  margin-bottom: 0em;
}

.m-1 {
  margin: 0.5em;
}

.ml-1 {
  margin-left: 0.5em;
}

.mr-1 {
  margin-right: 0.5em;
}

.mt-1 {
  margin-top: 0.5em;
}

.mb-1 {
  margin-bottom: 0.5em;
}

.mx-1 {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.my-1 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.m-2 {
  margin: 1em;
}

.ml-2 {
  margin-left: 1em;
}

.mr-2 {
  margin-right: 1em;
}

.mt-2 {
  margin-top: 1em;
}

.mb-2 {
  margin-bottom: 1em;
}

.mx-2 {
  margin-left: 1em;
  margin-right: 1em;
}

.my-2 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.m-3 {
  margin: 1.5em;
}

.ml-3 {
  margin-left: 1.5em;
}

.mr-3 {
  margin-right: 1.5em;
}

.mt-3 {
  margin-top: 1.5em;
}

.mb-3 {
  margin-bottom: 1.5em;
}

.mx-3 {
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.my-3 {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.m-4 {
  margin: 2em;
}

.ml-4 {
  margin-left: 2em;
}

.mr-4 {
  margin-right: 2em;
}

.mt-4 {
  margin-top: 2em;
}

.mb-4 {
  margin-bottom: 2em;
}

.mx-4 {
  margin-left: 2em;
  margin-right: 2em;
}

.my-4 {
  margin-top: 2em;
  margin-bottom: 2em;
}

.m-5 {
  margin: 2.5em;
}

.ml-5 {
  margin-left: 2.5em;
}

.mr-5 {
  margin-right: 2.5em;
}

.mt-5 {
  margin-top: 2.5em;
}

.mb-5 {
  margin-bottom: 2.5em;
}

.mx-5 {
  margin-left: 2.5em;
  margin-right: 2.5em;
}

.my-5 {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

.b {
  border: 1px solid #f8941e3b;
}

.bt {
  border-top: 1px solid #f8941e3b;
}

.bb {
  border-bottom: 1px solid #f8941e3b;
}

.bl {
  border-left: 1px solid #f8941e3b;
}

.br {
  border-right: 1px solid #f8941e3b;
}

.bx {
  border-right: 1px solid #f8941e3b;
  border-left: 1px solid #f8941e3b;
}

.by {
  border-top: 1px solid #f8941e3b;
  border-bottom: 1px solid #f8941e3b;
}

@media only screen and (min-width: 62em) {
  .b-gt-sm {
    border: 1px solid #f8941e3b;
  }

  .bt-gt-sm {
    border-top: 1px solid #f8941e3b;
  }

  .bb-gt-sm {
    border-bottom: 1px solid #f8941e3b;
  }

  .bl-gt-sm {
    border-left: 1px solid #f8941e3b;
  }

  .br-gt-sm {
    border-right: 1px solid #f8941e3b;
  }

  .bx-gt-sm {
    border-right: 1px solid #f8941e3b;
    border-left: 1px solid #f8941e3b;
  }

  .by-gt-sm {
    border-top: 1px solid #f8941e3b;
    border-bottom: 1px solid #f8941e3b;
  }
}


@font-face {
  font-family: 'Inconsolata';
  src: url('/fonts/Inconsolata-Bold.woff2') format('woff2'),
       url('/fonts/Inconsolata-Bold.woff') format('woff'),
       url('/fonts/Inconsolata-Bold.tff') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('/fonts/Inconsolata-Regular.woff2') format('woff2'),
       url('/fonts/Inconsolata-Regular.woff') format('woff'),
       url('/fonts/Inconsolata-Regular.tff') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium Web';
  src: url('/fonts/TitilliumWeb-Bold.woff2') format('woff2'),
       url('/fonts/TitilliumWeb-Bold.woff') format('woff'),
       url('/fonts/TitilliumWeb-Bold.tff') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium Web';
  src: url('/fonts/TitilliumWeb-Regular.woff2') format('woff2'),
       url('/fonts/TitilliumWeb-Regular.woff') format('woff'),
       url('/fonts/TitilliumWeb-Regular.tff') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium Web';
  src: url('/fonts/TitilliumWeb-Light.woff2') format('woff2'),
       url('/fonts/TitilliumWeb-Light.woff') format('woff'),
       url('/fonts/TitilliumWeb-Light.tff') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium Web';
  src: url('/fonts/TitilliumWeb-ExtraLight.eot'); /* For IE6-8 */
  src: url('/fonts/TitilliumWeb-ExtraLight.woff2') format('woff2'),
       url('/fonts/TitilliumWeb-ExtraLight.woff') format('woff'),
       url('/fonts/TitilliumWeb-ExtraLight.tff') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url('/fonts/MaterialIcons-Regular.woff2') format('woff2'),
    url('/fonts/MaterialIcons-Regular.woff') format('woff'),
    url('/fonts/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body {
  margin: 2em;
  font-family: 'Titillium Web', sans-serif;
  min-height: 100vh;
  color: #343434;
}

h1, h2, h3 {
  font-weight: 300;
}

a {
  color: #f7941e;
}

.orange {
  color: #f7941e;
}

th, td {
  text-align: left;
}

nav ul {
  list-style: none;
  padding-left: 1em;
}
nav > * > ul {
  padding-left: 0;
  margin: 0;
}

nav ul ul li:before {
  color: #ccc;
  content: "- ";
}

nav ul li {
  font-weight: 700;
}

nav ul ul li {
  font-weight: 400;
}

nav ul ul ul li {
  font-weight: 300;
}

/* Header */
header {
  height: 80px;
}

header .brand {
  text-transform: uppercase;
  cursor: pointer;
}
header .brand h1 {
  margin: 0;
  font-weight: 200;
}
header .brand .logo {
  padding-bottom: 0.7em;
  padding-right: 0.5em;
}

header .brand .sm-logo {
  height: 48px;
}

header nav a {
  text-align: center;
  color: #000;
  text-decoration: none;
}
header nav a:hover {
  color: #f7941e;
}

header nav .version-container select {
  background: rgba(247, 148, 30, 0.53);
}

version {
  display: block;
  font-family: 'Inconsolata', monospace;
}

@media only screen and (max-width: 47.999999em) {
  header .brand h1 {
    font-size: 1.5em;
  }
}

/* Footer */
footer {
  height: 60px;
}

footer nav a {
  text-align: center;
  color: #000;
  text-decoration: none;
}
footer nav a:hover {
  color: #f7941e;
}

@media only screen and (max-width: 61.999999em) {
  .main-container {
    position: relative;
  }

  aside {
    overflow: auto;
    position: fixed;
    background: #fff;
    height: 100vh;
    top: 0;
    left: -100%;
    transition: left 0.3s ease-out;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
  }

  aside.visible {
    left: 0;
  }
}

aside {
  min-width: 22em;
}
aside a {
  color: #000;
  text-decoration: none;
}
aside a:visited {
  color: #000;
}
aside a:hover {
  color: #f7941e;
}

backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(33,33,33,1.0);
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s ease-out;
}
backdrop.visible {
  opacity: .48;
  z-index: initial;
}

/* Style The Dropdown Button */
.dropdown-btn {
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  min-width: 160px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 16px 16px -16px rgba(0,0,0,0.2);
  z-index: 1;
  top: 100%;
  right: 0;
  width: 100%;
  overflow: auto;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
  text-align: center;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: flex;
}

form {
  border-radius: 3px;
}

.input-container {
  margin-bottom: 20px;
}

.input-container input {
  display: block;
  border-radius: 3px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

.input-container label {
  display: block;
}

form button {
  color: #71440e;
  background: #f8941e3b;
  padding: 1em 2em;
  border-radius: 3px;
  font-size: 16px;
}

gateway-library .highlight {
  background-color: #ffd0a8;
}

secrec-stdlib h1,
secrec-stdlib h2,
secrec-stdlib h3 {
  font-weight: 700;
}

secrec-stdlib h4,
secrec-stdlib p {
  margin: 0.5em 0;
}

secrec-stdlib hr {
  border: 0;
  border-top: 1px solid #f8941e3b;
}

secrec-stdlib .component {
  padding: 0px 10px;
  border: 1px solid #f8941e3b;
  border-radius: 5px;
  margin-bottom: 10px;
}

secrec-stdlib .component-header {
  margin: 0 -10px;
  padding: 10px;
  background-color: #f8941e10;
}

secrec-stdlib .component-header h2 {
  margin: 0;
}

.variable-container:first-child {
  padding-top: 10px;
}
.variable-container:last-child {
  padding-bottom: 10px;
}
.function-container {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}
.component div:last-child .function-container:last-child {
  border-bottom: none;
}

.function-header {
  padding: 5px;
  margin: 5px 0;
  background: #e0e0e0;
}
.function-header code {
  font-family: 'Inconsolata', monospace;
}

main {
  overflow: auto;
}
main a {
  color: #f7941e;
}
pre code {
  white-space: pre;
}
pre {
  margin: 0;
  padding: 1em;
/*  border: 1px solid #f8941e3b;
  background-color: #f8941e10; */
  overflow: auto;
}

li code,
p code {
/*  border: 1px solid #f8941e3b;
  background-color: #f8941e10; */
  padding: 0.2em;
}

table.sourceCode,
tr.sourceCode,
td.lineNumbers,
td.sourceCode {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: none;
}
table.sourceCode {
  width: 100%;
  line-height: 100%;
}
td.lineNumbers {
  text-align: right;
  padding-right: 4px;
  padding-left: 4px;
  color: #aaaaaa;
  border-right: 1px solid #aaaaaa;
}
td.sourceCode {
  padding-left: 5px;
}
code a { color: #343434; }

/**
 * Highlighting colour style borrowed from "pygments"
 * This is also the default for pandoc 2.x with skylighting
 */
code span.al { color: #ff0000; font-weight: bold; } /* Alert */
code span.an { color: #60a0b0; font-weight: bold; font-style: italic; } /* Annotation */
code span.at { color: #7d9029; } /* Attribute */
code span.bn { color: #40a070; } /* BaseN */
code span.bu { } /* BuiltIn */
code span.cf { color: #007020; font-weight: bold; } /* ControlFlow */
code span.ch { color: #4070a0; } /* Char */
code span.cn { color: #880000; } /* Constant */
code span.co { color: #60a0b0; font-style: italic; } /* Comment */
code span.cv { color: #60a0b0; font-weight: bold; font-style: italic; } /* CommentVar */
code span.do { color: #ba2121; font-style: italic; } /* Documentation */
code span.dt { color: #902000; } /* DataType */
code span.dv { color: #40a070; } /* DecVal */
code span.er { color: #ff0000; font-weight: bold; } /* Error */
code span.ex { } /* Extension */
code span.fl { color: #40a070; } /* Float */
code span.fu { color: #06287e; } /* Function */
code span.im { } /* Import */
code span.in { color: #60a0b0; font-weight: bold; font-style: italic; } /* Information */
code span.kw { color: #007020; font-weight: bold; } /* Keyword */
code span.op { color: #666666; } /* Operator */
code span.ot { color: #007020; } /* Other */
code span.pp { color: #bc7a00; } /* Preprocessor */
code span.sc { color: #4070a0; } /* SpecialChar */
code span.ss { color: #bb6688; } /* SpecialString */
code span.st { color: #4070a0; } /* String */
code span.va { color: #19177c; } /* Variable */
code span.vs { color: #4070a0; } /* VerbatimString */
code span.wa { color: #60a0b0; font-weight: bold; font-style: italic; } /* Warning */

.centered {
  text-align: center;
}
/*
table {
  border-collapse: collapse;
  border: 1px solid #f8941e3b;
}

table tr:not(:first-child) th,
table tr:not(:first-child) td {
  border-top: 1px solid #f8941e3b;
}

table th:not(:first-child),
table td:not(:first-child) {
  border-left: 1px solid #f8941e3b;
}
*/
table tr {
  background-color: #f8941e10;
}

table th,
table td {
  padding: 0.25em;
}
table .even th,
table .even td {
  background-color: #fff;
}

.toc-level-0 {
  display: none;
}

.toc-level-1 {
  font-weight: 300;
  font-size: 24px;
  margin-top: 5px;
  margin-left: 1px;
}

.toc-level-2 {
  font-weight: 700;
  margin-left: 1em;
}

.toc-level-3 {
  margin-left: 1.5em;
}

header a {
  text-decoration: none;
  color: black;
}

.body {
  max-width: 50vw;
  overflow: auto;
}

@media only screen and (max-width: 992px) {
  .body {
    max-width: 100%;
  }

  aside {
    display: none;
  }
}

p {
  text-align: justify;
}

table { 
  text-align: center;
  color: black;
}

tr {
  text-align: inherit;
}

th {
  text-align: inherit;
}
table td {
  border-top: inherit;
  border-left: inherit;
  border-right: inherit;
  text-align: inherit;
}
